<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084938016249-3924imreddlu0d7bqqklpthus1q4kvmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084938016249-3924imreddlu0d7bqqklpthus1q4kvmf</string>
	<key>API_KEY</key>
	<string>AIzaSyAWKQ6J--m1WLsABCmEYf6aRBbQz4Vw6Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>1084938016249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.assignment.finalapp</string>
	<key>PROJECT_ID</key>
	<string>mycontacts-bbc7a</string>
	<key>STORAGE_BUCKET</key>
	<string>mycontacts-bbc7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084938016249:ios:d765824f3e62f21a85d928</string>
</dict>
</plist>